body {
  font-family: sans-serif;
  margin: 0;

  h1 {
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .header {
    display: flex;
    position: sticky;
    height: 40px;
    background-color: black;
  }
}