:root {
  --font-family-base: "Noto Sans", sans-serif;
  --font-family-heading: 'Montserrat', sans-serif;
  --font-size-base: 16px;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
  --font-size-4xl: 4rem;
  --font-weight-bold: 700;

  --theme-primary: #007bff;
  --theme-secondary: #6c757d;
  --theme-background: #f8f9fa;
  --theme-text: #333;
  --theme-border: #ddd;

  --theme-success: #28a745;
  --theme-warning: #ffc107;
  --theme-error: #dc3545;

  --layout-spacing: 1rem;
  --layout-spacing-small: 0.5rem;
  --layout-spacing-large: 2rem;
  --layout-border-radius: 0.25rem;
  --layout-max-width: 36rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme Variables */
    --theme-primary: #64b5f6;
    --theme-secondary: #9e9e9e;
    --theme-background: #121212;
    --theme-text: #e0e0e0;
    --theme-border: #424242;
  }
}


body {
  background-color: var(--theme-background);
  color: var(--theme-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  padding: var(--layout-spacing);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: normal;
}

h1 {
  font-size: var(--font-size-2xl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

h4 {
  font-size: var(--font-size-md);
}

h5 {
  font-size: var(--font-size-sm);
}

h6 {
  font-size: var(--font-size-xs);
}

p, div, span {
  font-family: var(--font-family-base);
}

p {
  font-size: var(--font-size-md);
  margin: 2rem 0rem;
}

.button.primary {
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
  color: white;
  border-radius: var(--layout-border-radius);
  padding: var(--layout-spacing-small) var(--layout-spacing);
}

.error {
  color: var(--theme-error);
  border: 1px solid var(--theme-error);
  padding: var(--layout-spacing-small);
}

header {
  max-width: var(--layout-max-width);
  margin: auto;
  
  nav {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    a {
      text-decoration: none;
      color: var(--theme-secondary);
  
      span {
        font-size: 1.25rem;
        color: white;
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      flex: 1;
      justify-content: flex-end;
      gap: 24px;
    }
  }
}

main {
  max-width: var(--layout-max-width);
  margin: auto;

  h1 {
    margin: 2.5rem 0rem;
  }
}

footer {
  max-width: var(--layout-max-width);
  margin: auto;
  padding: 2.5rem 0rem;
}

.sub { 
  color: var(--theme-secondary);
}

.projects-wrapper {
  img {
    width: 250px;
  }
}